<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

  <extension point="org.blueberry.osgi.applications">
    <application id="my.awesomeproject.exampleapp">
      <run class="QmitkAwesomeApplication"/>
    </application>
  </extension>

  <extension point="org.blueberry.ui.perspectives">
    <perspective id="my.awesomeproject.AwesomePerspective"
      name="Awesome Perspective"
      class="QmitkAwesomePerspective"
      icon="resources/icon_research.xpm" />
  </extension>

</plugin>