<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

  <extension point="org.blueberry.osgi.applications">
    <application id="it.unito.kmaps.app">
      <run class="KMapsApplication"/>
    </application>
  </extension>

  <extension point="org.blueberry.ui.perspectives">
    <perspective id="it.unito.kmaps.KMapsPerspective"
      name="DCE-MRI Analysis"
      class="KMapsPerspective"
      icon="resources/dce-icon.png" />
  </extension>

</plugin>